.father{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 10;
}

.box{
    width: 200px;
    height: 200px;
    background-color: tomato;
    color :white;
    font-size: 36px;
}